@font-face {
  font-family: "iconfont"; /* Project id 4543170 */
  src: url('iconfont.woff2?t=1720502324959') format('woff2'),
       url('iconfont.woff?t=1720502324959') format('woff'),
       url('iconfont.ttf?t=1720502324959') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanzhuzhongxin:before {
  content: "\e602";
}

.icon-tianjiawenjianjia:before {
  content: "\e605";
}

.icon-shengyin:before {
  content: "\e606";
}

.icon-shenhezhong:before {
  content: "\e607";
}

.icon-shenheshibai:before {
  content: "\e608";
}

.icon-tianjiawenjian:before {
  content: "\e609";
}

.icon-wanchengyundan:before {
  content: "\e60a";
}

.icon-biaoqian:before {
  content: "\e60b";
}

.icon-caidan:before {
  content: "\e60c";
}

.icon-wanchengdingdan:before {
  content: "\e60d";
}

.icon-bianji:before {
  content: "\e60e";
}

.icon-kefu:before {
  content: "\e610";
}

.icon-weixinxinxi:before {
  content: "\e63a";
}

.icon-tongxinxiaoxi:before {
  content: "\e63b";
}

.icon-youjian:before {
  content: "\e63c";
}

.icon-zhaopianji:before {
  content: "\e63d";
}

.icon-shujushenhe:before {
  content: "\e611";
}

.icon-shouhouguanli:before {
  content: "\e612";
}

.icon-fapiaoguanli:before {
  content: "\e613";
}

.icon-qiyeshezhi:before {
  content: "\e614";
}

.icon-jiaoseguanli1:before {
  content: "\e615";
}

.icon-wodeshenfenquequan:before {
  content: "\e63e";
}

.icon-guize:before {
  content: "\e601";
}

.icon-jiaoyifenxi:before {
  content: "\e603";
}

.icon-xitongguanli:before {
  content: "\e63f";
}

.icon-dingdanguanli:before {
  content: "\e640";
}

.icon-xiaoxituisongguanli:before {
  content: "\e641";
}

.icon-xitongjiankong:before {
  content: "\e642";
}

.icon-zhanghuxinxi:before {
  content: "\e630";
}

.icon-kaoqinguanli:before {
  content: "\e631";
}

.icon-pingtaizhanghao:before {
  content: "\e632";
}

.icon-shujutongji:before {
  content: "\e633";
}

.icon-lvyuedanbao:before {
  content: "\e634";
}

.icon-shebeizaixianpeizhi:before {
  content: "\e635";
}

.icon-caidanguanli:before {
  content: "\e636";
}

.icon-weiquangaoshipai:before {
  content: "\e637";
}

.icon-xiangmuxinxi:before {
  content: "\e638";
}

.icon-xiangmutongbupeizhi:before {
  content: "\e639";
}

.icon-jiaoseguanli:before {
  content: "\e62a";
}

.icon-guanjiangangwei:before {
  content: "\e62b";
}

.icon-banzuguanli:before {
  content: "\e62c";
}

.icon-xinjinxiangmushenhe:before {
  content: "\e62d";
}

.icon-renyuanguanli:before {
  content: "\e62e";
}

.icon-yonghuguanli:before {
  content: "\e62f";
}

.icon-direction-up:before {
  content: "\e625";
}

.icon-hanbaobao-shousuo:before {
  content: "\e626";
}

.icon-tongzhi:before {
  content: "\e627";
}

.icon-tips:before {
  content: "\e628";
}

.icon-wenhao:before {
  content: "\e629";
}

.icon-Account-Regular:before {
  content: "\e616";
}

.icon-active:before {
  content: "\e617";
}

.icon-copy:before {
  content: "\e618";
}

.icon-direction-down:before {
  content: "\e619";
}

.icon-fastforward-circle-right:before {
  content: "\e61a";
}

.icon-fastforward-circle-left:before {
  content: "\e61b";
}

.icon-Expand:before {
  content: "\e61c";
}

.icon-hold:before {
  content: "\e61d";
}

.icon-people:before {
  content: "\e61e";
}

.icon-more:before {
  content: "\e61f";
}

.icon-refresh:before {
  content: "\e620";
}

.icon-gantanhao:before {
  content: "\e621";
}

.icon-chenggong:before {
  content: "\e622";
}

.icon-hanbaobao-zhankai:before {
  content: "\e623";
}

.icon-time-1:before {
  content: "\e624";
}

.icon-link:before {
  content: "\e604";
}

.icon-Star_empty:before {
  content: "\eab7";
}

.icon-phone:before {
  content: "\e650";
}

.icon-upload:before {
  content: "\e60f";
}

.icon-local-full:before {
  content: "\e68f";
}

.icon-local-unfull:before {
  content: "\e690";
}

.icon-picture:before {
  content: "\e691";
}

.icon-stores1:before {
  content: "\e692";
}

.icon-share:before {
  content: "\e693";
}

.icon-play:before {
  content: "\e694";
}

.icon-pause:before {
  content: "\e695";
}

.icon-choice:before {
  content: "\e696";
}

.icon-close:before {
  content: "\e697";
}

.icon-send:before {
  content: "\e698";
}

.icon-member:before {
  content: "\e699";
}

.icon-edit:before {
  content: "\e69a";
}

.icon-lock:before {
  content: "\e69b";
}

.icon-screen-rotation-full:before {
  content: "\e69c";
}

.icon-screen-rotation-unfull:before {
  content: "\e69d";
}

.icon-top:before {
  content: "\e69e";
}

.icon-star_full:before {
  content: "\e69f";
}

.icon-addition:before {
  content: "\e6a0";
}

.icon-reduce:before {
  content: "\e6a1";
}

.icon-arrow-right:before {
  content: "\e6a2";
}

.icon-camera:before {
  content: "\e6a3";
}

.icon-about:before {
  content: "\e6a4";
}

.icon-Safety:before {
  content: "\e6a5";
}

.icon-add:before {
  content: "\e6a6";
}

.icon-camera1:before {
  content: "\e6a7";
}

.icon-expression:before {
  content: "\e6a8";
}

.icon-eyes:before {
  content: "\e6a9";
}

.icon-noeyes:before {
  content: "\e6aa";
}

.icon-male:before {
  content: "\e6ad";
}

.icon-female:before {
  content: "\e6ae";
}

.icon-time:before {
  content: "\e6b0";
}

.icon-employee:before {
  content: "\e677";
}

.icon-search:before {
  content: "\e687";
}

.icon-stores:before {
  content: "\e68a";
}

.icon-arrow-left:before {
  content: "\e68b";
}

.icon-home1:before {
  content: "\e68c";
}

.icon-download:before {
  content: "\e68d";
}

.icon-delete1:before {
  content: "\e68e";
}

